   # '{{ k }}'+  '{{ groups['nodes'][i]}}:2700{{ loop.index }}'
 # sh.addShard("shard{{ loop.index }}/{{ groups['nodes'][0]}}:2700{{ loop.index }},{{ groups['nodes'][1] }}:2700{{ loop.index }},{{groups['nodes'][2]}}:2700{{ loop.index }}")