#内容
pidfilepath = {{ install_dir }}/mongos/log/mongos.pid
logpath = {{ install_dir }}/mongos/log/mongos.log
logappend = true

bind_ip = 0.0.0.0
port = {{ mongos_port }}
fork = true

#监听的配置服务器,只能有1个或者3个 configs为配置服务器的副本集名字

{% set hosts= '' %}
  {% for host in groups['nodes'] %}
      {% if loop.last %}
         {% set hosts = hosts + host + ':'~ config_port  %}
         configdb = configs/{{ hosts }}
      {% else %}
         {% set hosts = hosts + host + ':'~ config_port  + ','  %}
      {% endif %}
 {% endfor %}
# configdb = configs/192.168.0.75:21000,192.168.0.84:21000,192.168.0.86:21000
 
#设置最大连接数
maxConns=20000
