config = {
    _id : "shard2",
      members : [
        {% for host in groups['nodes'] %}
        {% if  loop.first %}
        {_id : {{ loop.index0 }}, host : "{{ host }}:27002",arbiterOnly: true},
        {% elif not loop.last %}
        {_id : {{ loop.index0 }}, host : "{{ host }}:27002"},
        {% else %}
        {_id : {{ loop.index0 }}, host : "{{ host }}:27002"}
        {% endif %}
        {% endfor %}
      ]
}

rs.initiate(config)
printjson(rs.status())
