#配置文件内容
#——————————————–
pidfilepath = {{ install_dir }}/shard2/log/shard2.pid
dbpath = {{ install_dir }}/shard2/data
logpath = {{ install_dir }}/shard2/log/shard2.log
logappend = true

bind_ip = 0.0.0.0
port = {{ shard2_port }}
fork = true
 
#打开web监控
httpinterface=true
rest=true
 
#副本集名称
replSet=shard2
 
#declare this is a shard db of a cluster;
shardsvr = true
 
#设置最大连接数
maxConns=20000